@CHARSET "UTF-8";

.Buypadding	{
	padding-top: 20px;
	padding-bottom: 20px;
}

.BuyPageSubtitle {
	text-align: left;
	font-size: 20pt;
	font-weight: 800;
	padding-left: 10px;
}

.BuyPageSubtitle2 {
	font-size: 11pt;
	color: #616161;
	font-weight: 500;
	padding-left: 10px;
}

#BuyMyInfoTable {
	width: 1000px;
	border: #BDBDBD solid 1px;
	border-top: Black solid 2px;
	border-collapse: collapse;
}

.MyInfotd1 {
	background-color: #edf1ff;
	width: 200px;
	border-bottom: #BDBDBD solid 1px;
	height: 60px;
	font-weight: 500;
	padding-left: 20px;
}

.MyInfotd2 {
	background-color: white;
	width: 200px;
	border-bottom: #BDBDBD solid 1px;
	height: 60px;
	font-weight: 500;
	padding-left: 20px;
}

#LeaveChangeDiv {
	text-align: center;
	width: 100px;
	padding-top: 5px;
	padding-bottom: 5px;
	border: black solid 1px;
	margin-left: 880px;
	margin-bottom: 10px;
	font-size: 13px;
	font-weight: 500;
	margin-top: -30px;
}

#BuyLeaveTable {
	width: 1000px;
	border: #BDBDBD solid 1px;
	border-top: Black solid 2px;
	border-collapse: collapse;
}

#BuyLeftTable {
	border: #BDBDBD solid 1px;
	border-top: Black solid 2px;
	border-collapse: collapse;
}

#BuyLeftTable tr td {
	padding-left: 20px;
}

.BuyLefttd1 {
	background-color: #edf1ff;
	width: 100px;
	border-bottom: #BDBDBD solid 1px;
	font-weight: 500;
}

#BuyCoupontd1 {
	height: 50px;
	border-bottom: #BDBDBD solid 1px;
}

#BuyCoupontd1 span {
	padding-left: 20px;
	color: #9E9E9E;
}

#BuyCoupontd1 button {
	width: 50px;
	height: 30px;
	background-color: #455A64;
	color: white;
	border: none;
	font-weight: 800;
	margin-right: 15px;
	margin-left: 15px;
}

#PointUsebutton{
	width: 50px;
	height: 30px;
	background-color: #455A64;
	color: white;
	border: none;
	font-weight: 800;
	margin-right: 15px;
}
#PointNotUsebutton{
	width: 70px;
	height: 30px;
	background-color: #78909C;
	color: white;
	border: none;
	font-weight: 800;
	margin-right: 15px;
}
#BuyPointtd1 {
	width: 400px;
	height: 50px;
}

#BuyPointtd1 span {
	padding-left: 20px;
	color: #9E9E9E;
	font-weight: 1000;
}

#BuyPointtd2 {
	height: 50px;
	border-bottom: #BDBDBD solid 1px;
}

#Pointinput {
	height: 20px;
	outline: none;
	text-align: right;
	color: #424242;
	padding-right: 5px;
	border: solid 1px black;
}

#Buypaymenttd {
	height: 110px;
	border-bottom: #BDBDBD solid 1px;
}

#Buypaymenttd input {
	margin-right: 5px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.BuyCardtd {
	height: 50px;
}

.BuyCardtd select {
	height: 30px;
	width: 100px;
	margin-left: 20px;
}

#BuyCardimgtd {
	border-top: #BDBDBD solid 1px;
}

#BuyRightTable {
	width: 300px;
	border-collapse: collapse;
	margin-left: 50px;
	border: black solid 2px;
}

#BuyRightTitletd {
	height: 80px;
	text-align: center;
	font-size: 20pt;
	font-weight: 1000;
	border: #BDBDBD solid 1px;
	background-color: #F5F5F5;
}

#BuyRightBuymoney {
	height: 80px;
	text-align: center;
	border-bottom: #EEEEEE solid 1px;
	font-weight: 700;
	font-size: 14pt;
}

#BuyRightBuymoney2 {
	text-align: right;
	padding-right: 20px;
	font-size: 13pt;
	border-bottom: #EEEEEE solid 1px;
	font-weight: 700;
}

.BuyRighttd1 {
	height: 50px; text-align : center;
	font-weight: 600;
	color: #616161;
	text-align: center;
}

.BuyRighttd2 {
	text-align: right;
	padding-right: 20px;
	font-weight: 600;
	font-size: 11pt;
	color: #EF5350;
}

#BuyLastMoneytitle {
	border-top: #BDBDBD solid 1px;
	background-color: #edf1ff;
	text-align: right;
	padding-right: 20px;
	font-weight: 700;
	font-size: 14pt;
	height: 50px;
}

#BuyLastMoney {
	background-color: #edf1ff;
	text-align: right;
	padding-right: 20px;
	font-weight: 700;
	font-size: 20pt;
	Color: #D84315;
	height: 100px;
}

#BuyLastMoney span {
	font-size: 15pt;
	color: #616161;
}

#BuyLastButtontd {
	background-color: #edf1ff;
	height: 100px;
}

#BuyLastButtontd button {
	background-color: #B71C1C;
	height: 70px;
	font-size: 16pt;
	color: white;
	font-weight: 1000;
	font-family: 'Noto Sans KR', sans-serif;
	width: 280px;
}
#buylisttable{
	width: 1000px;
	border: #BDBDBD solid 1px;
	border-top: Black solid 2px;
	border-collapse: collapse;
	margin-top: 10px;
}
#buylisttabletr1 td {
	background-color: #edf1ff;
	height: 70px;
	text-align: center;
	border-bottom: #BDBDBD solid 1px;
}
.buylistproductimgtd img{
	width: 180px;
}
.buylistproductimgtd {
	width: 200px;
	border-bottom: #BDBDBD solid 1px;
}
.buylistproductinfotd{
	width: 300px;
	border-bottom: #BDBDBD solid 1px;
}

.buylistbranddiv{
	font-size: 13pt;
	font-weight: 1000;	
}
.buylistnamediv{
	font-size: 11pt;
}
.buylistnumberdiv{
	color:silver;
}
.buylistpricetd{
	border-bottom: #BDBDBD solid 1px;
	text-align: center;
	color: #616161;
}
.buylistdiscounttd{
	border-bottom: #BDBDBD solid 1px;
	text-align: center;
}
.buylistdistcountratediv{
	font-size: 10pt;
	color: #424242;
	
}
.buylistcounttd{
	border-bottom: #BDBDBD solid 1px;
	text-align: center;
	font-size: 11pt;
	color: #616161;
}
.buylistbuypricetd{
	text-align: center;
	border-bottom: #BDBDBD solid 1px;
}

#ResultTable{
	margin-top: 20px;
	border: #CFD8DC solid 10px;
	width: 1000px;
	height: 130px;
	text-align: center;
}

#ResultTabletd1{
	padding-top: 40px;
	font-weight: 800;
	font-size: 20pt;
	height: 70px;
	padding-bottom: -20px;
}
#ResultTabletd2{
	font-size: 13pt;
	color: #9E9E9E;
	padding-top: -50px;
	padding-bottom: 30px;
}
#ResultTable2{
	margin-top: 50px;
	margin-bottom: 50px;
	width:1000px;
	background-color: #FAFAFA;
	border: #CFD8DC solid 1px;
	font-size: 11pt;
}
#BuyResultTable{
	border: black solid 1px;
	width: 1000px;
	height: 400px;
	background-color: #FAFAFA;
}

#onetable{
	margin: 10px;
	width: 305px;
	height: 370px;
	border-right: silver solid 1px;
}
#onetable tr td{
	vertical-align: top;
	padding-top: 54px;
}
#onetabletd1{
padding-left: 20px;	
}
#onetabletd1div1{
	font-size: 16pt;
}
#twotable{
	margin: 10px;
	width: 305px;
	height: 370px;
	border-right: silver solid 1px;
}

#threetable{
	margin: 10px;
	width: 305px;
	height: 370px;
	background-color: 
}

.discountdivs{
	padding-right: 60px;
	text-align: right;
	color: #757575;
	font-size: 11pt;
}
.Allpricediv1{
	font-size: 15pt;
	font-weight: 800;
	text-align: right;
	padding-right: 40px;
}
.Allpricediv2{
	color: #757575;
	font-size: 12pt;
	text-align: right;
	padding-right: 40px;
}
.topdivname{
	font-size: 14pt;
	margin-bottom: 30px;
}
.discountdivs2{
	color: #757575;
	font-size: 11pt;
}
#twotabletr1 td{
	padding-top: 50px;
	padding-bottom: 30px;
}
#opri{
	margin-top: -30px;
	font-size: 11pt;
}
#LastBuydiv1{
	font-size: 18pt;
	font-weight: 800;
	text-align: right;
	padding-right: 40px;
	color: red;
}
#LastBuydiv2{
	color: #757575;
	font-size: 14pt;
	text-align: right;
	padding-right: 40px;
}
#lasttd{
	height: 180px;
	vertical-align: top;
}
#threetr1 td{
height: 90px;	
vertical-align: top;
	padding-top: 54px;
}