@CHARSET "UTF-8";

body {
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans KR', sans-serif;
}

#maintable {
	width: 100%;
	height: 100%;
}

#bodytable {
	width: 1000px;
	height: 100%;
	padding-top: 30px;
}

#titlelogotd {
	width: 140px;
	height: 80px;
}

#titlelogotd img {
	width: 70px;
	height: 70px;
	padding-left: 40px;
	padding-top: 30px;
}

#titlesearchtd {
	width: 500px;
	height: 50px;
	border: black solid 2px;
	border-radius: 30px;
	
}

#titlesearch {
	width: 400px;
	height: 40px;
	border: none;
	margin-left: 30px;
	font-size: 15pt;
	font-weight: 700;
	outline: none;
}

#titlesearchimg {
	width: 25px;
	height: 25px;
	padding-bottom: 0px;
}

#titlecarttd {
	padding-left: 100px;
	padding-right: 100px;
}

#titlemypagetd {
	width: 80px;
}

#titlecarttd img {
	width: 40px;
	height: 40px;
}

#titlemypagetd img {
	width: 40px;
	height: 40px;
	padding-right: 10px;
}

#categorytable {
	position: fixed;
	top: 0px;
	width: 200px;
	left: 0px;
	height: 100%;
	border-right: silver solid 1px;
	border-spacing: 0;
}

.menu1:hover {
	cursor: pointer;
	text-decoration: underline;
	color: #29B6F6;
}

.menu1 {
	width: 140px;
	font-size: 11pt;
	font-weight: 600;
	height: 45px;
	padding-left: 30px;
}

#centerpagetd {
	width: 100%;
	padding-top: 50px;
}
centerimgtd img {
	width: 800px;
	height: 500px;
}

#subtable {
	position: fixed;
	top: 150px;
	width: 4%;
	border: solid 2px;
	font-size: 9pt;
	left: 87%;
}

.topimg {
	width: 180px;
	height: 180px;
}

.submenuimg {
	width: 50px;
	height: 50px;
}

.submenuimgdiv {
	border: black solid 2px;
}

#categorymain {
	font-weight: 1000;
	width: 200px;
	height: 30px;
	font-size: 17pt;
	padding-left: 30px;
	padding-bottom: 30px;
	padding-top: 30px;
}

#categorymain div :hover{
	
}

.centerlastbox {
	font-size: 20pt;
	font-weight: 1000;
	float: left;
	width: 350px;
	height: 150px;
	padding-top: 50px;
	background-color: #EEEEEE;
	border: #BDBDBD solid 1px;
	border-radius: 10px;
	margin: 50px;
}
.centerlastbox img{
	width: 50px;
}
#Mymenutable1{
	position: fixed;
	border: black solid 1px;
	width: 100px;
	
}