@CHARSET "UTF-8";

body{
	width: 100%;
	height: 100%;
	margin: 0;
	
	
}
#bodytable{
	width: 100%;
	height: 100%;
	margin: 0;
}
#titlelogotd{
	width: 170px;
}
#titlelogotd img{
	width: 70px;
	height: 70px;
	padding: 15px;
}
#titlesearchtd{
	width: 500px;
	height: 50px;
	border: black solid 2px;
	border-radius: 30px;
}
#titlesearch{
	width: 400px;
	height: 40px;
	border: none;
	margin-left: 30px;
	font-size: 15pt;
	font-weight: 700;
}

#titlesearchimg{
	width: 25px;
	height: 25px;
	padding-bottom: 0px;
}
#titlecarttd{
	width:45%;
}
#titlemypagetd{
	width:15%;
	padding-right: 70px;
}
#titlecarttd img{
	
	width: 40px;
	height: 40px;
}

#titlemypagetd img{
	width: 40px;
	height: 40px;
}
#categorytable{
	width: 200px;
	height: 100%;
}
#categorys{
	
	height: 100%;
	padding-bottom: 20px;
	
}
.menu1{
	width: 200px;
	font-size: 12pt;
	font-weight: 600;
	padding-bottom: 5px;
	padding-top: 5px;
}

#category{
	width: 150px;
	font-size: 20pt;
	font-weight: 800;
	border-bottom: silver double 6px;
}
#centerpage{
	width: 500%;
}