@CHARSET "UTF-8";

body {
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans KR', sans-serif;
}

#maintable {
	width: 100%;
	height: 100%;
}
#bodytable {
	margin-left: 170px;
	width: 80%;
	height: 100%;
	padding-top: 30px;
}
#titletable{
	text-align:center;
	width: 60%;
	margin-left: 20%;
	padding-top: 30px;
}
#titlelogotd {
	width: 140px;
	height: 80px;
	border-right: #E0E0E0 solid 1px;
}

#titlelogotd img {
	width: 70px;
	height: 70px;
	padding-left: 40px;
	padding-top: 30px;
}

#titlesearchtd {
	width: 500px;
	height: 50px;
	border: black solid 2px;
		
	
}

#titlesearch {
	width: 400px;
	height: 40px;
	border: none;
	margin-left: 30px;
	font-size: 15pt;
	font-weight: 700;
	outline: none;
}

#titlesearchimg {
	width: 25px;
	height: 25px;
	margin-left: 10px;
	margin-right: 10px;
}

#titlecarttd {
	padding-left: 160px;
	padding-right: 160px;
}

#titlemypagetd {
	width: 80px;
}

#titlecarttd img {
	width: 40px;
	height: 40px;
}

#titlemypagetd img {
	width: 40px;
	height: 40px;
	padding-right: 10px;
}

#categorytable {
	position: fixed;
	top: 0px;
	width: 152px;
	left: 0px;
	height: 100%;
	border-collapse: collapse;
	z-index: 11;
}

.menu1 {
	width: 120px;
	font-size: 11pt;
	font-weight: 1000;
	height: 45px;
	padding-left: 30px;
	border-right: #E0E0E0 solid 1px;
}

#centerpagetd {
	width: 100%;
	padding-top: 50px;
}
centerimgtd img {
	width: 800px;
	height: 500px;
}

#subtable {
	position: fixed;
	top: 150px;
	border: #E0E0E0 solid 1px;
	font-size: 9pt;
	font-weight: 600;
	opacity: 0.8;
	border-collapse: collapse;
	margin-left: 230px;
}
#subtable tr td{
	border: #E0E0E0 solid 1px;
	padding-top: 10px;
	padding-bottom:10px;
}
.topimg {
	width: 180px;
	height: 180px;
}

.submenuimg {
	width: 30px;
	height: 30px;
	opacity: 0.8;
	padding-top: 5px;
	padding-bottom: 5px;
}


#categorymain {
	font-weight: 1000;
	width: 200px;
	height: 30px;
	font-size: 17pt;
	padding-left: 30px;
	padding-bottom: 30px;
	padding-top: 30px;
	border-right: #E0E0E0 solid 1px;
}

#categorymain div :hover{
	
}

.centerlastbox {
	font-size: 20pt;
	font-weight: 1000;
	float: left;
	width: 350px;
	height: 150px;
	padding-top: 50px;
	background-color: #EEEEEE;
	border: #BDBDBD solid 1px;
	border-radius: 10px;
	margin: 50px;
}
.centerlastbox img{
	width: 50px;
}
#Mymenutable1{
	position: fixed;
	border: black solid 1px;
	width: 100px;
	top:0px;
	left: 1300px;
	opacity: 0;
}
.CATETABLE {
	border: #E0E0E0 solid 1px;
	position: fixed;
	width: 140px;
	left: -300px;
	border-spacing: 0;
	font-weight: 1000;
	padding-left: 20px;
	font-size: 10pt;
	height:300px;
	background-color: white;
	z-index: 10;
}
.cates2{
	height: 40px;
}
.cates2:hover{
	cursor: pointer;
	text-decoration: underline;
	color: #29B6F6;
}
#catezero{
	border-right: #E0E0E0 solid 1px;
	height: 100%;
}
#moneyselect{
	border: none;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 600;
	font-size: 9pt;
	padding: 3px;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align-last: center;
	opacity: 0.8;
}
.todaymoneydiv{
	color: red;
}
#top10table{
	border-top: white solid 1px;
	border-left: white solid 1px;
	border-right: white solid 1px;
	border-bottom: white solid 1px;
	position: absolute;
	z-index: 99;
	background-color: white;
	border-spacing: -1px;
	margin-top: -1.5px;
	margin-left: -1px;
	width: 494px;
	font-weight: 1000;
	font-size: 10pt;
}
#titlesearchtable{
	border-spacing: 0px;
}
.lankdiv{
	width: 50px;
	text-align: center;
}
.lankdiv1{
	text-align: left;
	width: 380px;
}
.lankdiv2{
	text-align: center;
	width: 50px;
}
#top10table tr td div{
	float: left;
	padding-top:10px;
}

#todaymoneyspan1{
	color: red;
}
#todaymoneyspan2{
	color: red;
}
#searchtitletd{
	font-size: 13pt;
	text-align: center;
	color: #616161;
	font-weight: 1000;
	padding-top: 10px;
	padding-bottom: 10px;
}