@CHARSET "UTF-8";

#SupportTopmain {
	font-size: 30pt;
	font-weight: 1000;
	padding-bottom: 15px;
	text-align: left;
}

#SupportToptable {
	width: 1000px;
	border-collapse: collapse;
	border: #E0E0E0 solid 1px;
}

.SupportTopmenu {
	width: 145px;
	height: 150px;
	text-align: center;
	background-color: #F5F5F5;
	font-size: 12pt;
	font-weight: 700;
}
#FAQMenuDiv{
padding-top: 10px;
 margin-left: 35px;	
 height: 80px;
}
#SupportmenuDiv{
	padding-top: 10px;
	border-right: #E0E0E0 solid 1px;
	height: 80px;
	margin-left: -30px;
}

#SupportShopingDiv{
	padding-top: 7px;
	border-right: #E0E0E0 solid 1px;
	height: 80px;
}
#SupportShopDiv{
	padding-top: 7px;
	border-right: #E0E0E0 solid 1px;
	height: 80px;
}
#SupportMemberDiv{
	padding-top: 7px;
	height: 80px;
}

.SupportTopmenu img{
 width: 50px;	
}
.SupportTopmenu2 {
	border-top: #E0E0E0 solid 1px;
	border-bottom: #E0E0E0 solid 1px;
	width: 270px;
	height: 150px;
	text-align: center;
	background-color: #F5F5F5;
	font-size: 12pt;
	font-weight: 700;
}

#FAQsearchtable {
	width: 700px;
	height: 40px;
	border: #9E9E9E solid 1px;
	margin-top: 50px;
}

#FAQsearchtable input {
	border: none;
	width: 600px;
	height: 40px;
	font-size: 15pt;
	padding-left: 30px;
	outline: none;
}

#FAQsearchtable img {
	width: 25px;
	height: 25px;
	padding-bottom: 0px;
	padding-right:20px;
}

#FAQmenutable {
	margin-top: 50px;
	border-collapse: collapse;
	width: 90%;
}

.FAQmenutd:hover {
	background-color: #424242;
	color: white;
}

.FAQmenutd {
	width: 100px;
	margin-top: 50px;
	padding: 0;
	border: #BDBDBD solid 1px;
	text-align: center;
	height: 40px;
}

.FAQNumber {
	width: 70px;
	text-align: center;
	border-bottom: silver solid 1px;
	background-color: #ECEFF1;
	height:60px;
	border-top: black solid 2px;
}

.FAQCategory {
	width: 100px;
	text-align: center;
	border-bottom: silver solid 1px;
	background-color: #ECEFF1;
	height:60px;
	border-top: black solid 2px;
}

.FAQquestion {
	width: 770px;
	text-align: center;
	border-bottom: silver solid 1px;
	background-color: #ECEFF1;
	height:60px;
	border-top: black solid 2px;
}
.FAQNumber2 {
	width: 70px;
	text-align: center;
	border-bottom: silver solid 1px;
	height:60px;
}

.FAQCategory2 {
	width: 100px;
	text-align: center;
	border-bottom: silver solid 1px;
	height:60px;
}

.FAQquestion2 {
	width: 770px;
	text-align: center;
	border-bottom: silver solid 1px;
	height:60px;
}


#FAQquestionTable {
	border-collapse: collapse;
	margin-top: 40px;
}

#CounselingTable {
	width: 800px;
	border: silver solid 1px;
	margin-top: 30px;
	border-collapse: collapse;
	background-color: #F5F5F5;
	color: #616161;
}

#CounselingTableMain {
	font-size: 20pt;
	font-weight: 700;
	height: 80px;
	text-align: center;
	border-bottom: silver solid 1px;
}

.CounselingTableMenu {
	padding-top: 10px;
	width: 150px;
	font-size: 11pt;
	font-weight: 700;
	height: 30px;
	text-align: center;
}

.CounselingTablecontent {
	width: 150px;
	padding-top: 30px;
	height: 500px;
	text-align: center;
	font-size: 11pt;
	font-weight: 700;
}

.CounselingTableInputTd {
	padding-top: 10px;
	width: 600px;
	padding-left: 10px;
}

.CounselingTableInputshortTd {
	padding-top: 10px;
	width: 600px;
	padding-left: 10px;
}

.CounselingTableInputTd button {
	width: 60px;
	height: 27px;
	margin-left: 10px;
	background: #1E88E5;
	border-radius: 5px;
	color: white;
	font-weight: 800;
	cursor: pointer;
}

.CounselingTableInputshortTd button {
	width: 60px;
	height: 27px;
	margin-left: 10px;
	background: #1E88E5;
	border-radius: 5px;
	color: white;
	font-weight: 800;
	cursor: pointer;
}

.CounselingTableInputTd input {
	width: 520px;
	height: 25px;
}

.CounselingTableInputshortTd input {
	width: 220px;
	height: 25px;
}

.CounselingTableInputshortTd select {
	width: 150px;
	height: 30px;
	text-align: center;
}

.CounselingTableInputTd textarea {
	width: 520px;
	height: 490px;
}

#Counselingfileinput {
	width: 300px;
	height: 30px;
}

#CounselingButtontd button {
	width: 200px;
	height: 50px;
	background-color: #0D47A1;
	font-size: 15pt;
	font-weight: 800;
	color: white;
	border-radius: 10px;
	cursor: pointer;
}

#CounselingButtontd {
	padding-top: 30px;
	padding-bottom: 30px;
}