@CHARSET "UTF-8";

#TopmainTable{
}

#Topmenumaintd{
	border:silver solid 1px;
	
}

#Topmenutable{
	width: 100%;
	
}

#Topproducttable{
	width: 100%;
	border-spacing: 0;
}

#centerpage{
	width: 1000px;
}

.menu:hover {
	background-color: black;
	color: white;
}

.menu{
	float: left;
	width: 195px;
	border: silver solid 1px;
	height: 30px;
	display: table;
	margin: 0 auto;
	border-collapse: collapse;
}

/* Top 10개 상품 */
.pricediv{
	font-size: 13pt;
	color: red;
	font-weight: 1000;
	text-align: center;
}
.brandtd{
	font-wieght: 1000;
	font-size: 13pt;
	text-align: center;
	width: 200px;
	height: 40px;
}
.nametd{
	font-size: 10pt;
	text-align: center;
	width: 200px;
	height: 50px;
}
.pricespan{
	text-decoration: line-through;
	color: #616161;
	font-size: 10pt;
	margin-right: 10px;
}
.pricetd{
	text-align: center;
}
.discountpricetd{
	text-align: center;
}
.discountratespan{
	font-weight: 1000;
	font-size: 11pt;
	color: #424242;
}
.carttd{
	border-top: white solid 1px;
	border-right: white solid 1px;
	opacity: 0;
}
.buytd{
	border-top: white solid 1px;
	opacity: 0;
}

.discountpricespan{
	font-size: 14pt;
	font-weight: 1000;
	color: red;
	margin-right: 10px;
}
.price2span{
font-size:9pt;
font-weight: 1000;
color: gray;
}
.inproducttable{
	border: white solid 1px;
	border-spacing: 0px;
	text-align: center;
	height: 400px;
	cursor: pointer;
}
.inimgtd{
	width: 200px;
	height: 200px;
}