@CHARSET "UTF-8";

#TopmainTable{
}

#Topmenumaintd{
	border:silver solid 1px;
	
}

#Topmenutable{
	width: 100%;
	
}

#Topproducttable{
	width: 100%;
	border-spacing: 0;
}

#centerpage{
	width: 100%;
}

.menu:hover {
	background-color: black;
	color: white;
}

.menu{
	float: left;
	width: 138px;
	border: silver solid 1px;
	height: 30px;
	display: table;
	margin: 0 auto;
}