<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hk.dutyfree.coupon.CouponMapper">
<insert id="CreateCoupon" parameterType="com.hk.dutyfree.coupon.RegCoupon">
insert into hk_regcoupon values(
#{r_number},#{r_name},#{r_amount},#{r_exp},#{r_used}
)
</insert>
<select parameterType="com.hk.dutyfree.coupon.RegCoupon" id="SelectCoupon" resultType="com.hk.dutyfree.coupon.RegCoupon">
select * from hk_regcoupon where r_number = #{r_number}
</select>
<update parameterType="com.hk.dutyfree.coupon.RegCoupon" id="UseRegCoupon">
update hk_regcoupon
set r_used = #{r_used}
where r_number = #{r_number}
</update>

<insert id="IdinsertCoupon" parameterType="com.hk.dutyfree.coupon.UseCoupon">
insert into hk_usecoupon values(
hk_usecoupon_seq.nextval,#{uc_rnumber},#{uc_name},#{uc_discount},#{uc_discountrate},#{uc_id},#{uc_used},#{uc_exp}
)
</insert>
<select id="SelectMycoupon" parameterType="com.hk.dutyfree.coupon.UseCoupon" resultType="com.hk.dutyfree.coupon.UseCoupon">
select * from hk_usecoupon where uc_id = #{uc_id}
</select>
</mapper>