<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hk.dutyfree.product.ProductMapper">
<select id="getProducts" parameterType="com.hk.dutyfree.product.Productno" resultType="com.hk.dutyfree.product.Product">
select * from (
select rownum as rm, p_number, p_name, p_price,p_img,p_categoryone,p_categorytwo,p_brand,p_gender,p_avgscore,d_discount,d_discountrate
from (select * from hk_Product,hk_discount where p_number=d_pnumber order by p_number )
) where rm &lt;= #{start} and rm &gt;= #{end} 
order by rm desc
</select>
<select id="getProductcount" resultType="java.lang.Integer">
select count(*) from hk_product
</select>
<!-- 검색 -->
<select id="searchProduct" parameterType="com.hk.dutyfree.product.ProductSearch" resultType="com.hk.dutyfree.product.Product">
select * from (
select rownum as rm, p_number, p_name, p_price,p_img,p_categoryone,p_categorytwo,p_brand,p_gender,p_avgscore,d_discount,d_discountrate
from (select * from hk_Product,hk_discount 
where p_number=d_pnumber and p_price &gt;= #{p_pricemin} 
and p_price &lt; #{p_pricemax} 
and p_name like '%'||#{p_name}||'%' 
and p_gender like '%'||#{p_gender}||'%' 
and d_discount like '%'||#{d_discount}||'%' 
and p_categoryone like '%'||#{p_categoryone}||'%' 
and p_categorytwo like '%'||#{p_categorytwo}||'%' 
 order by p_number )
) where rm &lt;= #{start} and rm &gt;= #{end} 
order by rm desc
</select>
<select id="searchProductCount" parameterType="com.hk.dutyfree.product.ProductSearch" resultType="java.lang.Integer">
select count(*) from (
select rownum as rm, p_number, p_name, p_price,p_img,p_categoryone,p_categorytwo,p_brand,p_gender,p_avgscore,d_discount,d_discountrate
from (select * from hk_Product,hk_discount 
where p_number=d_pnumber and p_price &gt;= #{p_pricemin} 
and p_price &lt; #{p_pricemax} 
and p_name like '%'||#{p_name}||'%' 
and p_gender like '%'||#{p_gender}||'%' 
and d_discount like '%'||#{d_discount}||'%' 
and p_categoryone like '%'||#{p_categoryone}||'%' 
and p_categorytwo like '%'||#{p_categorytwo}||'%' 
 order by p_number )
)
</select>
<select id="lastProduct" resultType="com.hk.dutyfree.product.Product">
select * from hk_product where p_number = (select max(p_number) from hk_product)
</select>
<insert id="DBwrite" parameterType="com.hk.dutyfree.product.Product">
insert into hk_Product values(
hk_Product_seq.nextval,#{p_name},#{p_price},#{p_img},
#{p_categoryone},#{p_categorytwo},#{p_brand},#{p_gender},0)
</insert>
<insert id="DCwrite" parameterType="com.hk.dutyfree.product.Discount">
insert into hk_discount values(
hk_discount_seq.nextval,#{d_pnumber},#{d_discount},#{d_discountrate})
</insert>
<select parameterType="com.hk.dutyfree.product.Search" id="searchlastcount" resultType="java.lang.Integer">
select max(s_frequency) from hk_search
where s_word = #{s_word}
</select>
<update id="searchupdate" parameterType="com.hk.dutyfree.product.Search">
update hk_search set s_frequency = #{s_frequency} where s_word = #{s_word}
</update>
<insert id="searchinsert" parameterType="com.hk.dutyfree.product.Search">
insert into hk_search values(
hk_search_seq.nextval, #{s_word},#{s_frequency}
)
</insert>
<select id="selectlank" resultType="com.hk.dutyfree.product.Search">
select * from (
select rownum as rm, s_word,s_frequency,s_number
from (select * from hk_search order by s_frequency desc)
) where rm &gt;= 1 and rm &lt;= 10
order by rm
</select>
</mapper>